.dropdown-menu {
  width: 180px;
  position: relative;
  text-align: center;
  display: none;
}

.dropdown-menu img {
  margin: auto;
  display: block;
}

.dropdown-content {
  display: none; /* hides sub-menu */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.2s ease-out 0s, z-index 0s linear 0.01s;
}

.show .dropdown-content {
  display: block; /* shows sub-menu */
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 750px) {
  .dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .dropdown-menu {
    width: 130px;
  }
}
